<!DOCTYPE html>
<html lang="en" ng-app="app">

<head>
    <meta charset="UTF-8">
    <title>AngularTest1</title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap-theme.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <style type="text/css">
        tr.red{background-color:lightcoral;}
        tr.green{background-color:lightgreen;}
        tr.blue{background-color:lightblue;}

        .red{background-color:lightcoral;}
        .green{background-color:lightgreen;}
        .blue{background-color:lightblue;}

        span.error{
            color:rgb(187, 55, 55);

        }
        span.summary.ng-invalid{color:red;}
        span.summary.ng-valid{color:green;}


    </style>

    <script type="text/javascript" src="js/public/angular.js"></script>
    <script type="text/javascript" src="js/public/angular-route.js"></script>
    <script type="text/javascript" src="js/public/angular-sanitize.js"></script>
    
    <script type="text/ng-template" id="triTemplate">
        <div class="well">
            <div class="btn-group">
                <button class="btn btn-default text-capitalize">yes</button>
                <button class="btn btn-default text-capitalize">no</button>
                <button class="btn btn-default text-capitalize">not sure</button>
            </div>
        </div>
    </script>
    <script type="text/javascript">
        angular.module("route",["ngRoute","ngSanitize"])
        angular.module("app",["route"])
        angular.module("app")
        .controller('ctrl',function($scope,$http){
            $scope.loadData=function(){

               $http.get("data/products.xml") 
               .success(function(rep){
                    
               })
               .error(function(err){
                    // console.log(err)
               })
               .then(
                    function(response){
                        console.log(response)
                        $scope.products=[]
                        var productElems=angular.element(response.data.trim()).find("product")
                        console.log(productElems)
                        $scope.productElems=response.data
                        for(var i=0;i<productElems.length;i++){
                            var productElem=productElems.eq(i) //eq
                            $scope.products.push({
                                name:productElem.attr("name"),
                                category:productElem.attr("category"),
                                price:productElem.attr("price"),
                                expiry:productElem.attr("expiry"),
                            })
                        }
                    },
                    function(a){
                        console.log(a)
                    }
                )
            }


        })


         
    </script>

    

</head>

<body  class="text-capitalize" ng-controller="ctrl">
    <div class="panel panel-default">
        <h4 class="panel-heading">ajax</h4>
        <div class="panel-body">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>name</th>
                        <th>category</th>
                        <th>price</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-hide="products">
                        <td colspan="3" class="text-center">no data</td>
                    </tr>
                    <tr ng-repeat="item in products">
                        <td>{{item.name}}</td>
                        <td>{{item.category}}</td>
                        <td>{{item.price|number:1}}</td>
                    </tr>
                </tbody>
            </table>
            <div>{{productElems}}</div>
            <p><button class="btn btn-primary" ng-click="loadData()">load data</button></p>
        </div>

    </div>
</body>

</html>
