<!DOCTYPE html>
<html lang="en" ng-app="app">

<head>
    <meta charset="UTF-8">
    <title>AngularTest1</title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap-theme.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <style type="text/css">
        tr.red{background-color:lightcoral;}
        tr.green{background-color:lightgreen;}
        tr.blue{background-color:lightblue;}

        .red{background-color:lightcoral;}
        .green{background-color:lightgreen;}
        .blue{background-color:lightblue;}

        span.error{
            color:rgb(187, 55, 55);

        }
        span.summary.ng-invalid{color:red;}
        span.summary.ng-valid{color:green;}


    </style>

    <script type="text/javascript" src="js/public/angular.js"></script>
    <script type="text/javascript" src="js/public/angular-route.js"></script>
    <script type="text/javascript" src="js/public/angular-sanitize.js"></script>
    
    <script type="text/ng-template" id="triTemplate">
        <div class="well">
            <div class="btn-group">
                <button class="btn btn-default text-capitalize">yes</button>
                <button class="btn btn-default text-capitalize">no</button>
                <button class="btn btn-default text-capitalize">not sure</button>
            </div>
        </div>
    </script>
    <script type="text/javascript">
        angular.module("route",["ngRoute","ngSanitize"])
        angular.module("app",["route"])
        angular.module("app")
        .controller('ctrl',function($scope){
            $scope.citys=["london","paris","new yourk"]


        })

        .directive('eval1',function($compile){
            return function(scope,ele,attrs){
                // ele.append(angular.element("<ul><li ng-repeat=\"city in citys\">{{city}}</li></ul>"))
                var content="<ul><li ng-repeat=\"city in citys\">{{city}}</li></ul>";
                var listElem=angular.element(content)
                var compileFn=$compile(listElem)
                console.log(compileFn)
                compileFn(scope)
                ele.append(listElem)


            }
        })

         
    </script>

    

</head>

<body  class="text-capitalize" ng-controller="ctrl">
    <div class="panel panel-default">
        <h4 class="panel-heading">price</h4>
        <div class="panel-body">

            <span eval1></span>
        </div>

    </div>
</body>

</html>
